#servis.baz.all
# Sphinx 6.1.0 broke copying images in parallel builds; fixed in 6.1.2
#sphinx-doc/sphinx/pull/11100
Sphinx >= 5.1.1, != 6.1.0, != 6.1.1, < 8.1.0
docutils >= 0.19.0
sphinx-notfound-page >= 1.0.2

# For tests
